## usful packages

In [26]:
import numpy as np
#import tensorflow as tf
#from tensorflow import keras
import pandas as pd
import seaborn as sns
from pylab import rcParams
import matplotlib.pyplot as plt
from matplotlib import rc
from pandas.plotting import register_matplotlib_converters

from numpy import isnan
from pandas import read_csv
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor

#!pip install wget 
import wget
#wget.download('https://raw.githubusercontent.com/BorisMuzellec/MissingDataOT/master/utils.py')

import numpy as np
import pandas as pd
from utils import *
import torch
import seaborn as sns

from sklearn.model_selection import cross_val_score

%matplotlib inline
%config InlineBackend.figure_format='retina'

register_matplotlib_converters()
sns.set(style='whitegrid', palette='muted', font_scale=1.5)

rcParams['figure.figsize'] = 22, 10

RANDOM_SEED = 42

In [27]:
# read complet data
index_col="date"
data_true=pd.read_csv('X_selected.csv', sep=",", encoding = "ISO-8859-1", index_col=index_col)
y=pd.read_csv('y_selected.csv', sep=",", encoding = "ISO-8859-1", index_col=index_col)

In [42]:
# df=df.join(y)

In [47]:
listefile = ["05.csv","10.csv","25.csv","40.csv", "60.csv", "70.csv"]
for p in listefile:
    df=pd.read_csv('BDD_missingData/MAR'+p, sep=",", encoding = "ISO-8859-1", index_col=index_col)
    # mask=pd.read_csv('BDD_missingData/mask'+p, sep=",", encoding = "ISO-8859-1", index_col=index_col)
    # mask=mask.values
    df.shape
    dataframe = df.copy()
    # split into input and output elements
    dataframe = dataframe.values
    imputer = IterativeImputer(estimator=ExtraTreesRegressor(n_estimators=10, random_state=0), missing_values=np.nan, sample_posterior=False, 
                                     max_iter=10, tol=0.1, 
                                     n_nearest_features=50, initial_strategy='median')
    # imputer = IterativeImputer()
    # fit on the dataset
    imputer.fit(dataframe)
    # transform the dataset
    dataframe = imputer.transform(dataframe)
    dataframe = pd.DataFrame(dataframe, columns = data_true.columns)
    dataframe.index=data_true.index
    dataframe.to_csv("./ImputedData/MICE_MAR"+p)

C:\Users\ahmed\anaconda3\lib\site-packages\sklearn\impute\_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"
C:\Users\ahmed\anaconda3\lib\site-packages\sklearn\impute\_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"
C:\Users\ahmed\anaconda3\lib\site-packages\sklearn\impute\_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

In [39]:
dataframe

,co2_100,temperature_100,co2_101,temperature_101,co2_102,temperature_105,co2_106,light_106,co2_107,co2_108,sound_108,humidity_110,weather_out,weather_hum,weather_bar_,windows
date,,,,,,,,,,,,,,,,
2022-03-15 00:00:00,509.333344,25.893333,478.073734,25.450001,481.729075,25.839077,514.666687,0.000000,572.666687,577.500000,5.500000,25.639999,13.105548,66.000000,1016.438744,1.000000
2022-03-15 00:05:00,504.250000,25.895000,439.666656,25.453333,468.333344,25.890482,514.750000,0.000000,569.500000,583.103838,5.282315,25.747499,14.073524,66.333336,1023.049988,1.000000
2022-03-15 00:10:00,500.500000,25.900000,437.000000,25.292800,466.666656,25.976253,515.000000,0.000000,549.487361,575.250000,4.790982,25.775000,11.525238,66.666664,1023.000000,1.000000
2022-03-15 00:15:00,499.666656,25.802649,439.666656,25.450001,465.824898,25.657531,514.666687,0.000000,565.000000,572.000000,6.000000,25.872499,11.581739,66.960178,1022.950012,0.100006
2022-03-15 00:20:00,513.148704,25.771609,459.891533,25.440001,462.888885,25.702499,512.750000,0.000000,554.251028,567.750000,5.137470,25.766666,11.666667,67.333336,1022.900024,0.502110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-30 23:35:00,392.917089,24.535000,393.643322,24.177242,424.500000,24.691945,421.142010,0.000000,419.750000,390.200012,5.942630,29.114000,14.100000,76.357088,1013.200012,1.000000
2022-05-30 23:40:00,405.799988,24.974156,411.525569,24.667500,399.842249,24.729522,425.000000,0.000000,422.399994,390.000000,8.069090,4.495595,18.078446,54.000000,1013.200012,1.000000
2022-05-30 23:45:00,358.392282,24.527500,412.600006,24.674000,426.000000,25.097500,415.198723,0.000000,422.250000,390.799988,8.813331,29.073999,14.000000,55.000000,1013.200012,1.000000
2022-05-30 23:50:00,402.500000,25.262981,413.500000,25.146579,430.261231,25.660051,421.250000,0.000000,421.500000,400.006825,9.200000,29.104000,14.393996,54.971382,1017.819586,1.000000
2022-05-30 23:55:00,416.116223,25.131180,389.896530,24.629999,424.250000,24.929186,420.750000,202.924707,419.441492,433.592223,9.200000,11.412357,13.800000,55.000000,1013.200012,0.687574

In [36]:
for i in range(data_true.shape[1]):
            print("filename",";",str(data_true.columns[i]),";",RMSE(dataframe[:,i],data_true.values[:,i], mask[:,i]))

filename ; co2_100 ; 41.986940669514844
filename ; temperature_100 ; 0.5742295897508007
filename ; co2_101 ; 48.736578971300474
filename ; temperature_101 ; 0.6796260135600168
filename ; co2_102 ; 50.66087884370563
filename ; temperature_105 ; 0.6849496149589489
filename ; co2_106 ; 48.83922530968248
filename ; light_106 ; 142.51080752340573
filename ; co2_107 ; 56.131632426500495
filename ; co2_108 ; 56.3962297171924
filename ; sound_108 ; 1.7324530819075459
filename ; humidity_110 ; 13.851824201137713
filename ; weather_out ; 3.809963009340473
filename ; weather_hum ; 13.067337867968751
filename ; weather_bar_ ; 8.363362414637455
filename ; windows ; 0.6368170291831031

In [13]:
for i in range(data_true.shape[1]):
            print("filename",";",str(data_true.columns[i]),";",RMSE(dataframe[:,i],data_true.values[:,i], mask[:,i]))

filename ; co2_100 ; 30.34899773010688
filename ; temperature_100 ; 0.4080634367337182
filename ; co2_101 ; 32.28978927456822
filename ; temperature_101 ; 0.5327862065098192
filename ; co2_102 ; 37.95567095119063
filename ; temperature_105 ; 0.4570728785341217
filename ; co2_106 ; 31.38899066730566
filename ; light_106 ; 72.81167100537104
filename ; co2_107 ; 32.33591303047642
filename ; co2_108 ; 32.746045504138614
filename ; sound_108 ; 0.874888348677002
filename ; humidity_110 ; 6.410288696691866
filename ; weather_out ; 1.7479771906181378
filename ; weather_hum ; 6.633491734547512
filename ; weather_bar_ ; 3.462144330270379
filename ; windows ; 0.316128432649846

In [ ]:
# X_kalman=pd.read_csv('MCAR'+p, sep=",", encoding = "ISO-8859-1")
# X_kalmanArimaImputed=pd.read_csv('kalmanArima_TRUE_MCAR'+p, sep=",", encoding = "ISO-8859-1")
# X_kalmanStructTsImputed=pd.read_csv('kalmanStructTS_TRUE_MCAR'+p, sep=",", encoding = "ISO-8859-1")
# X_kalmanArimaImputed=X_kalmanArimaImputed.set_index('date')
# X_kalmanStructTsImputed=X_kalmanStructTsImputed.set_index('date')

In [117]:
# Fix the seed ------------------------------------------------------
np.random.seed(0)

In [118]:
X = data.copy()
#X = X.drop(["activity"], axis=1)
X = X.values

In [119]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# datascaler=scaler.fit(X)
# X= datascaler.transform(X)

## date Series Imputation Techniques

In [36]:
listefile = ["05.csv","10.csv","25.csv","40.csv", "60.csv", "70.csv"]
for mecanisme in ["MCAR","MAR"]:
    for p in listefile:
        df=pd.read_csv('BDD_missingData/'+mecanisme+p, sep=",", encoding = "ISO-8859-1", index_col=index_col)
        df.index = pd.to_datetime(df.index)
        # mask=pd.read_csv('BDD_missingData/mask'+p, sep=",", encoding = "ISO-8859-1", index_col=index_col)
        # mask=mask.values
        import numpy as np
        from sklearn.impute import KNNImputer
        X1 = df.copy()
        # add date "timpstame" as variable 
        X1["date"]=X1.index
        X1['date'] = X1[['date']].apply(lambda x: x[0].timestamp(), axis=1).astype(int)
        k=2
        imputer = KNNImputer(n_neighbors=k)
        KNNimputed = imputer.fit_transform(X1)
        KNNimputed=KNNimputed[:,0:-1].copy()
        KNNimputed= pd.DataFrame(data=KNNimputed, columns=df.columns)
        KNNimputed.index = df.index

        ffill_imputed = df.copy(deep=True)
        ffill_imputed.fillna(method='ffill',inplace=True)
        ffill_imputed.fillna(method='bfill',inplace=True)

        bfill_imputed = df.copy(deep=True)
        bfill_imputed.fillna(method='bfill',inplace=True)
        bfill_imputed.fillna(method='ffill',inplace=True)

        quadratic_imput = df.copy(deep=True)
        quadratic_imput.interpolate(method='quadratic', inplace=True)
        quadratic_imput.fillna(method='ffill',inplace=True)
        quadratic_imput.fillna(method='bfill',inplace=True)


        nearest_imput = df.copy(deep=True)
        nearest_imput.interpolate(method='nearest', inplace=True)
        nearest_imput.fillna(method='ffill',inplace=True)
        nearest_imput.fillna(method='bfill',inplace=True)


        linear_imput=df.copy(deep=True)
        linear_imput.interpolate(method='linear', inplace=True)
        linear_imput.fillna(method='ffill',inplace=True)
        linear_imput.fillna(method='bfill',inplace=True)

        poly_imput=df.copy(deep=True)
        poly_imput= poly_imput.interpolate(method='polynomial', order=3)
        poly_imput.fillna(method='ffill',inplace=True)
        poly_imput.fillna(method='bfill',inplace=True)

        mean_imput = df.copy(deep=True)
        mean_imput =mean_imput.fillna(mean_imput.mean())
        mean_imput.fillna(method='ffill',inplace=True)
        mean_imput.fillna(method='bfill',inplace=True)

        # Create a dictionary of interpolations
        interpolations = {'Back_fill':bfill_imputed, 'Forward_fill':ffill_imputed,
                      'Linear_Interpolation': linear_imput, 'Quadratic_Interpolation': quadratic_imput,"Nearest_imput":nearest_imput, "polynomial_interpolation":poly_imput, 'KNN': KNNimputed, 'meanImputation':mean_imput}
    # enregistrer les données imputéés par chaque méthode dans le dossier dataImputed
        for df_key in  interpolations:
            print(df_key+p,type(interpolations[df_key]))
            interpolations[df_key].to_csv('ImputedData/'+df_key+mecanisme+p)

Back_fill05.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill05.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation05.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation05.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput05.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation05.csv <class 'pandas.core.frame.DataFrame'>
KNN05.csv <class 'pandas.core.frame.DataFrame'>
meanImputation05.csv <class 'pandas.core.frame.DataFrame'>
Back_fill10.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill10.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation10.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation10.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput10.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation10.csv <class 'pandas.core.frame.DataFrame'>
KNN10.csv <class 'pandas.core.frame.DataFrame'>
meanImputation10.csv <class 'pandas.core.frame.DataFrame'>
Back_fill25.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill25.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation25.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation25.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput25.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation25.csv <class 'pandas.core.frame.DataFrame'>
KNN25.csv <class 'pandas.core.frame.DataFrame'>
meanImputation25.csv <class 'pandas.core.frame.DataFrame'>
Back_fill40.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill40.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation40.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation40.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput40.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation40.csv <class 'pandas.core.frame.DataFrame'>
KNN40.csv <class 'pandas.core.frame.DataFrame'>
meanImputation40.csv <class 'pandas.core.frame.DataFrame'>
Back_fill60.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill60.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation60.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation60.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput60.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation60.csv <class 'pandas.core.frame.DataFrame'>
KNN60.csv <class 'pandas.core.frame.DataFrame'>
meanImputation60.csv <class 'pandas.core.frame.DataFrame'>
Back_fill70.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill70.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation70.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation70.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput70.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation70.csv <class 'pandas.core.frame.DataFrame'>
KNN70.csv <class 'pandas.core.frame.DataFrame'>
meanImputation70.csv <class 'pandas.core.frame.DataFrame'>
Back_fill05.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill05.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation05.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation05.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput05.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation05.csv <class 'pandas.core.frame.DataFrame'>
KNN05.csv <class 'pandas.core.frame.DataFrame'>
meanImputation05.csv <class 'pandas.core.frame.DataFrame'>
Back_fill10.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill10.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation10.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation10.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput10.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation10.csv <class 'pandas.core.frame.DataFrame'>
KNN10.csv <class 'pandas.core.frame.DataFrame'>
meanImputation10.csv <class 'pandas.core.frame.DataFrame'>
Back_fill25.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill25.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation25.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation25.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput25.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation25.csv <class 'pandas.core.frame.DataFrame'>
KNN25.csv <class 'pandas.core.frame.DataFrame'>
meanImputation25.csv <class 'pandas.core.frame.DataFrame'>
Back_fill40.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill40.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation40.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation40.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput40.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation40.csv <class 'pandas.core.frame.DataFrame'>
KNN40.csv <class 'pandas.core.frame.DataFrame'>
meanImputation40.csv <class 'pandas.core.frame.DataFrame'>
Back_fill60.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill60.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation60.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation60.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput60.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation60.csv <class 'pandas.core.frame.DataFrame'>
KNN60.csv <class 'pandas.core.frame.DataFrame'>
meanImputation60.csv <class 'pandas.core.frame.DataFrame'>
Back_fill70.csv <class 'pandas.core.frame.DataFrame'>
Forward_fill70.csv <class 'pandas.core.frame.DataFrame'>
Linear_Interpolation70.csv <class 'pandas.core.frame.DataFrame'>
Quadratic_Interpolation70.csv <class 'pandas.core.frame.DataFrame'>
Nearest_imput70.csv <class 'pandas.core.frame.DataFrame'>
polynomial_interpolation70.csv <class 'pandas.core.frame.DataFrame'>
KNN70.csv <class 'pandas.core.frame.DataFrame'>
meanImputation70.csv <class 'pandas.core.frame.DataFrame'>

# Save dataFrame Imputed

In [115]:
# Create a dictionary of interpolations
interpolations = {'Back_fill':bfill_imputed, 'Forward_fill':ffill_imputed,
                  'Linear_Interpolation': linear_imput, 'Quadratic_Interpolation': quadratic_imput,"Nearest_imput":nearest_imput, "polynomial_interpolation":poly_imput, 'KNN': KNNimputed, 'meanImputation':mean_imput}
# enregistrer les données imputéés par chaque méthode dans le dossier dataImputed
for df_key in  interpolations:
    print(df_key+p,type(interpolations[df_key]))
    interpolations[df_key].to_csv('dataImputed/'+df_key+p)

meanImputation5.csv <class 'pandas.core.frame.DataFrame'>

In [ ]:
mean_imput = df.copy(deep=True)
mean_imput =mean_imput.fillna(mean_imput.mean())
mean_imput

In [ ]:
mean_imput

In [3]:
p='40.csv'
df=pd.read_csv('BDD_missingData/MCAR'+p, sep=",", encoding = "ISO-8859-1", index_col=index_col)
df.index = pd.to_datetime(df.index)
mask=pd.read_csv('BDD_missingData/mask'+p, sep=",", encoding = "ISO-8859-1", index_col=index_col)
mask=mask.values

In [21]:
import numpy as np
from sklearn.impute import KNNImputer
X1 = df.copy()
# add date "timpstame" as variable 
X1["date"]=X1.index
X1['date'] = X1[['date']].apply(lambda x: x[0].timestamp(), axis=1).astype(int)
k=3
imputer = KNNImputer(n_neighbors=k)
KNNimputed = imputer.fit_transform(X1)
KNNimputed=KNNimputed[:,0:-1].copy()
KNNimputed= pd.DataFrame(data=KNNimputed, columns=df.columns)
KNNimputed.index = df.index
Ximp= KNNimputed.values    
Ximp = Ximp[:,0:-1]
print("k = ",k)
# for i in range(16):
#     print("KNN", "  "+str(df.columns[i]), RMSE(Ximp[:,i], data_true.values[:,i], mask[:,i]))
# print("KNN", " all ", RMSE(Ximp[:,0:5], X,mask))

k =  3

In [24]:
for i in range(14):
    print("KNN", "  "+str(df.columns[i]), RMSE(Ximp[:,i], data_true.values[:,i], mask[:,i]))
print("KNN", " all ", RMSE(Ximp[:,0:5], X,mask))

KNN   co2_100 30.255007738996984
KNN   temperature_100 0.18676841775162734
KNN   co2_101 28.73003295403949
KNN   temperature_101 0.23037493340017093
KNN   co2_102 32.70821011418298
KNN   temperature_105 0.27977656188879674
KNN   co2_106 27.209010523566494
KNN   light_106 22.754301614726707
KNN   co2_107 26.279813469247834
KNN   co2_108 25.522356296026086
KNN   sound_108 0.44140072111733053
KNN   humidity_110 0.2823893251901077
KNN   weather_out 0.17303985991583087
KNN   weather_hum 0.8628299802757232

NameError: name 'X' is not defined

In [22]:
for i in range(16):
    print("KNN", "  "+str(df.columns[i]), RMSE(Ximp[:,i], data_true.values[:,i], mask[:,i]))
print("KNN", " all ", RMSE(Ximp[:,0:5], X,mask))

KNN   co2_100 30.255007738996984
KNN   temperature_100 0.18676841775162734
KNN   co2_101 28.73003295403949
KNN   temperature_101 0.23037493340017093
KNN   co2_102 32.70821011418298
KNN   temperature_105 0.27977656188879674
KNN   co2_106 27.209010523566494
KNN   light_106 22.754301614726707
KNN   co2_107 26.279813469247834
KNN   co2_108 25.522356296026086
KNN   sound_108 0.44140072111733053
KNN   humidity_110 0.2823893251901077
KNN   weather_out 0.17303985991583087
KNN   weather_hum 0.8628299802757232
KNN   weather_bar_ 0.0849813399654482

IndexError: index 15 is out of bounds for axis 1 with size 15

In [121]:

Ximp= mean_imput.values   
#Ximp = Ximp[:,0:-1]
for i in range(5):
    print("mean", "  "+str(i), RMSE(Ximp[:,i], X[:,i], mask[:,i]))
print("mean", " all ", RMSE(Ximp, X,mask))

mean   0 1.0280782741512864
mean   1 1.0039951888402086
mean   2 0.9988984776443648
mean   3 1.0438501895091625
mean   4 1.0267607456125483
mean  all  1.0203231350042317

In [53]:
X1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22176 entries, 2022-03-15 00:00:00 to 2022-05-30 23:55:00
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   co2_100          5579 non-null   float64
 1   temperature_100  5585 non-null   float64
 2   co2_101          5563 non-null   float64
 3   temperature_101  5552 non-null   float64
 4   co2_102          5449 non-null   float64
 5   temperature_105  5548 non-null   float64
 6   co2_106          5573 non-null   float64
 7   light_106        22176 non-null  float64
 8   co2_107          5564 non-null   float64
 9   co2_108          5510 non-null   float64
 10  sound_108        5596 non-null   float64
 11  humidity_110     5483 non-null   float64
 12  weather_out      5443 non-null   float64
 13  weather_hum      5523 non-null   float64
 14  weather_bar_     5512 non-null   float64
 15  windows          5576 non-null   float64
 16  date             22176 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(16)
memory usage: 3.0+ MB

time
1617235589    0.369908
1617235891    0.000948
1617236194    0.369908
1617236497    0.000948
1617236799    0.369908
                ...
1624059673    1.149909
1624059976    1.149909
1624060279    1.149909
1624060581    0.000948
1624060883    1.149909
Name: Humidity, Length: 22523, dtype: float64

In [75]:
mask.shape

(22523, 5)

In [ ]:
Ximp

In [180]:
import numpy as np
from sklearn.impute import KNNImputer
X1 = df.copy()
k=1100
imputer = KNNImputer(n_neighbors=k)
KNNimputed = imputer.fit_transform(X1)

In [15]:
def lagged(df,lag=2):
    #df=df.set_index('date')    
    Df=[]
    a=[]
    for i in range(lag):
        a.append(i)
        df1=df.shift(i+1).copy()
        df1=df1.add_suffix('_t-'+str(i+1))
        Df.append(df1)
    for base in Df:
        df=pd.concat([df,base], axis=1)
    
    #df=df.drop(df.index[a])
    return df, a

In [54]:
#!pip install autoimpute

In [58]:
a