## usful packages

In [14]:
import numpy as np
#import tensorflow as tf
#from tensorflow import keras
import pandas as pd
import seaborn as sns
from pylab import rcParams
import matplotlib.pyplot as plt
from matplotlib import rc
from pandas.plotting import register_matplotlib_converters

from numpy import isnan
from pandas import read_csv
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor

#!pip install wget 
import wget
#wget.download('https://raw.githubusercontent.com/BorisMuzellec/MissingDataOT/master/utils.py')

import numpy as np
import pandas as pd
from utils import *
import torch
import seaborn as sns

from sklearn.model_selection import cross_val_score

%matplotlib inline
%config InlineBackend.figure_format='retina'

register_matplotlib_converters()
sns.set(style='whitegrid', palette='muted', font_scale=1.5)

rcParams['figure.figsize'] = 22, 10

RANDOM_SEED = 42

In [15]:
# read complet data
index_col="date"
data_true=pd.read_csv('X_selected.csv', sep=",", encoding = "ISO-8859-1", index_col=index_col)
y=pd.read_csv('y_selected.csv', sep=",", encoding = "ISO-8859-1", index_col=index_col)

In [3]:
# df=df.join(y)

In [74]:
listefile = ["05.csv","10.csv","25.csv","40.csv", "60.csv", "70.csv"]
for p in listefile:
    df=pd.read_csv('BDD_missingData/MCAR'+p, sep=",", encoding = "ISO-8859-1", index_col=index_col)
    for col in df.columns:
        df[col]
        mask = df[col].isna()
        to_fill = np.random.uniform(df[col].min(), df[col].max(), size=mask.sum())
        df.loc[mask, col] = to_fill
  
    df.to_csv("./ImputedData/RandomImputer_MCAR"+p)

for p in listefile:
    df=pd.read_csv('BDD_missingData/MAR'+p, sep=",", encoding = "ISO-8859-1", index_col=index_col)
    for col in df.columns:
        df[col]
        mask = df[col].isna()
        to_fill = np.random.uniform(df[col].min(), df[col].max(), size=mask.sum())
        df.loc[mask, col] = to_fill
  
    df.to_csv("./ImputedData/RandomImputer_MAR"+p)

In [70]:
df =pd.read_csv('BDD_missingData/MAR70.csv', sep=",", encoding = "ISO-8859-1", index_col=index_col)
df.head(15)

,co2_100,temperature_100,co2_101,temperature_101,co2_102,temperature_105,co2_106,light_106,co2_107,co2_108,sound_108,humidity_110,weather_out,weather_hum,weather_bar_,windows
date,,,,,,,,,,,,,,,,
2022-03-15 00:00:00,NaN,NaN,NaN,NaN,473.000000,25.730000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-15 00:05:00,NaN,NaN,NaN,NaN,468.333344,NaN,NaN,0.0,NaN,577.000000,NaN,NaN,NaN,NaN,NaN,1.0
2022-03-15 00:10:00,NaN,25.900000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,25.7750,11.633333,66.666664,NaN,NaN
2022-03-15 00:15:00,NaN,25.889999,NaN,25.450001,464.777771,25.713333,NaN,0.0,NaN,NaN,NaN,NaN,NaN,67.000000,NaN,NaN
2022-03-15 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-15 00:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,564.666687,NaN,NaN,11.683333,NaN,NaN,NaN
2022-03-15 00:30:00,NaN,25.870001,NaN,25.415001,456.666656,25.693333,NaN,0.0,NaN,NaN,NaN,NaN,NaN,68.000000,NaN,NaN
2022-03-15 00:35:00,NaN,NaN,NaN,NaN,NaN,25.697500,NaN,0.0,564.75,NaN,5.25,NaN,11.616667,NaN,NaN,NaN
2022-03-15 00:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,70.000000,NaN,NaN
2022-03-15 00:45:00,480.0,NaN,NaN,NaN,456.333344,25.696667,NaN,0.0,NaN,NaN,NaN,25.9925,NaN,NaN,NaN,NaN
2022-03-15 00:50:00,NaN,25.843334,441.0,NaN,NaN,NaN,NaN,0.0,NaN,558.750000,NaN,NaN,11.366667,NaN,NaN,NaN
2022-03-15 00:55:00,NaN,25.833334,NaN,NaN,453.000000,25.703333,NaN,0.0,NaN,NaN,NaN,NaN,11.283334,NaN,NaN,NaN
2022-03-15 01:00:00,NaN,NaN,NaN,NaN,448.666656,NaN,NaN,0.0,NaN,555.250000,NaN,NaN,11.200000,74.000000,NaN,NaN
2022-03-15 01:05:00,NaN,25.809999,NaN,25.340000,446.500000,NaN,NaN,0.0,NaN,556.333313,NaN,NaN,NaN,74.500000,NaN,NaN
2022-03-15 01:10:00,NaN,NaN,NaN,NaN,NaN,25.666666,NaN,0.0,NaN,NaN,NaN,NaN,11.166667,NaN,NaN,1.0

In [17]:
df[df.isna()]

,co2_100,temperature_100,co2_101,temperature_101,co2_102,temperature_105,co2_106,light_106,co2_107,co2_108,sound_108,humidity_110,weather_out,weather_hum,weather_bar_,windows
date,,,,,,,,,,,,,,,,
2022-03-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-15 00:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-15 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-15 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-15 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-30 23:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-30 23:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-30 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-30 23:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-30 23:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.max() - df.min()

co2_100            1884.500000
temperature_100       9.697500
co2_101            2041.000000
temperature_101      16.057500
co2_102            2155.500000
temperature_105       8.948000
co2_106            2324.833344
light_106           615.750000
co2_107            1647.850006
co2_108            1796.800110
sound_108            56.250000
humidity_110         49.518002
weather_out          31.100000
weather_hum          75.000000
weather_bar_         43.699951
windows               4.000000
dtype: float64

In [25]:
a =np.random.rand(22176,16)

In [42]:
rom random import seed
from random import gauss
df.replace('NaN', gauss(1, 0.1))

SyntaxError: invalid syntax (Temp/ipykernel_22872/3617261235.py, line 1)

In [49]:
df1= df.copy()

In [71]:
for col in df.columns:
    df[col]
    mask = df[col].isna()
    to_fill = np.random.uniform(df[col].min(), df[col].max(), size=mask.sum())
    df.loc[mask, col] = to_fill

In [72]:
df

,co2_100,temperature_100,co2_101,temperature_101,co2_102,temperature_105,co2_106,light_106,co2_107,co2_108,sound_108,humidity_110,weather_out,weather_hum,weather_bar_,windows
date,,,,,,,,,,,,,,,,
2022-03-15 00:00:00,1198.233451,26.819537,1699.637153,22.114937,473.000000,25.730000,1050.443378,0.0,1151.568757,1504.867498,54.436101,43.443744,25.326079,64.595785,1008.549403,1.730636
2022-03-15 00:05:00,1493.826833,30.175528,511.758837,26.900804,468.333344,21.701312,1313.957261,0.0,470.292039,577.000000,14.797577,0.353740,25.715526,57.762732,1008.306268,1.000000
2022-03-15 00:10:00,1719.648785,25.900000,751.614928,22.624604,1385.136279,27.049289,1085.561321,0.0,1197.534679,708.523691,47.882424,25.775000,11.633333,66.666664,1010.739347,3.414644
2022-03-15 00:15:00,1431.724246,25.889999,806.989620,25.450001,464.777771,25.713333,1910.700980,0.0,1215.730145,843.153271,41.720848,6.522311,23.415399,67.000000,999.442095,0.735454
2022-03-15 00:20:00,656.133054,29.780679,358.740166,26.517984,897.870749,24.420503,500.815788,0.0,1399.182704,385.180609,44.061529,23.287206,5.356217,94.929981,994.475578,0.714313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-30 23:35:00,1299.109984,26.676625,410.250000,26.861340,2047.853780,25.118000,1273.501784,0.0,419.750000,2022.511588,49.378699,6.537546,14.100000,44.790979,1014.257701,1.026013
2022-05-30 23:40:00,1704.582141,29.843128,928.921907,27.122187,1722.859962,22.442100,1958.512462,0.0,1657.351768,595.612249,10.771008,22.689857,14.100000,60.647392,999.868280,0.569661
2022-05-30 23:45:00,2063.671019,26.181009,1291.601027,30.869432,426.000000,29.277000,752.943869,0.0,1542.750668,585.105098,7.509505,31.814845,7.790020,64.496159,1013.200012,1.061177
2022-05-30 23:50:00,402.500000,21.289762,466.042830,24.647499,426.250000,22.555020,1398.187090,0.0,1343.447825,669.330466,50.832521,1.033925,12.314605,27.289601,1031.748126,2.735451
2022-05-30 23:55:00,2111.274522,21.419944,904.942494,28.654924,424.250000,29.355436,1067.461257,0.0,420.750000,454.155045,49.780724,31.715490,19.816596,27.311110,995.701356,0.465920

In [69]:
np.random.randint(13.1, 20.5, 10)

array([13, 17, 13, 15, 16, 15, 14, 15, 19, 15])